/* Main CSS file */
* {
  box-sizing: border-box;
}

#accordion {
  width: 400px;
  margin: 30px 30px;
}

.accordion__toggle {
  align
  background-color: #eee;
  border: 1px solid black;
  color: black;
  font-size: 18px;
  height: 30px;
  margin: 0;
  width: 100%;
}

.accordion__toggle--active {
 background-color: black;

}

.accordion__pannel {
  background-color: white;
  display: none;
  width: 100%
}

.accordion__pannel--show {
  display: block;

}
